@using EntityLayer.Concrete
@model List<About>

<div class="section pt-4 px-3 px-lg-4" id="about">
    <div class="container-narrow">
        <br />
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Hakkımda</h2>
            </div>
        @foreach (var x in Model)
        {
            <div class="row">
                <div class="col-md-6">
                    <h2 class="h4 my-2">@x.Title</h2>
                    <p>@x.Decsription</p>
                    <div class="row mt-3">
                        <div class="col-sm-2">
                            <div class="pb-1">Yaş:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder">@x.Age</div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">Email:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder">@x.Mail</div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">LinkedIn:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder">@x.Phone</div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pb-1">Adres:</div>
                        </div>
                        <div class="col-sm-10">
                            <div class="pb-1 fw-bolder">@x.Address</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100">
                    <style>
                        .neon-border {
                            border-radius: 0.75rem;
                            border: 1px solid rgba(0, 0, 0, 0.8);
                            box-shadow: 0 0 20px rgba(255, 223, 0, 0.5), 0 0 30px rgba(255, 223, 0, 0.3), inset 0 0 20px rgba(255, 223, 0, 0.2);
                        }


                    </style>
                    <img class="avatar img-fluid mt-2 neon-border" src="@x.ImageUrl" width="400" height="400" alt="Melek Demir" />
                </div>
            </div>
        }
    </div>
</div>

